.media__contact-container {
	width: 60%;
	max-width: 200px;
	transform: translateX(-50%);
	height: 50px;
	position: fixed;
	display: flex;
	bottom: 0;
	left: 50%;
	z-index: 9999;
}

@media screen and (min-width: 600px) {
	.media__contact-container {
		width: 50px;
		height: 60%;
		max-height: 200px;
		top: 50%;
		left: 0;
		flex-direction: column;
		margin: 0;
		transform: translateY(-50%);
	}
}
