.project_card {
  position: relative;
  display: flex;
  min-width: 350px;
  width: 80%;
  max-width: 480px;
  height: 280px;
  border-radius: 8px;
  margin: 2% 10%;
  overflow: hidden;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.project_card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.project_card--img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.project_card--container {
  background: linear-gradient(to top, #040404c7, #000000e1);
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 1px solid #040404c7;
}

.project_card_textContainer {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_card:hover .project_card--container {
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .project_card {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .project_card {
    width: 40%;
    height: 310px;
    margin: 2%;
  }
}
