.project_techs--container{
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15%;
}
.project_techsAndName--container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

.project_techsAndName--container:hover{
    cursor: pointer;
}