.MyDescription_container{
    width: 80%;
    display: flex;
    align-items:center;
    margin: 2% 10%;
}

.MyDescription_container-image{
    width: 200px;
    height:200px;
    border:3px solid #2A3B4E;
    border-radius: 50%;
    margin-left: 10%;
}

.MyDescription_container-title{
    margin-left: 10%;
    font-size: 45px;
    color:#2A3B4E;
}

/* Who I Am */
.WhoIam_container{
    width: 80%;
    align-items:left;
    margin: 2% 10%;
}

.WhoIam_container-title{
    margin-left: 10%;
    font-size: 35px;
    color:#2A3B4E;
}

.WhoIam_container-body{
    margin: 2% 10%;
}

.WhoIam_link{
    color: #1a67be;
    text-decoration: none;
    background-image: linear-gradient(#4b87cf, #2f69ac);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.WhoIam_link:hover , .WhoIam_link:focus{
    background-size: 100% 2px;
}

.WhoIam_link-img-dev{
    width: 50px;
    height: 50px;
    padding-top:3%;
}
/* My Stack */
.MyStack_container{
    width: 80%;
    height: 50vh;
    align-items:left;
    margin: 2% 10%;
}

.MyStack_container-title{
    margin-left: 10%;
    font-size: 35px;
    color:#2A3B4E;
}

.MyStack-list{
    display:flex;
    flex-direction: column;
    margin-left: 10%;
}

.MyStack-list-item{
    display:flex;
    align-items: center;
}

.MyStack-list-item--img{
    width: 25px;
    height: 25px;
    margin: 1% 1% 0% 0;
}