.projects_container{
    width: 80%;
    height: 100%;
    margin-left:10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
} 

.project-page-title{
    
    text-align:center;
    color: #2A3B4E;
    font-size: 45px;
}

@media screen and (max-width: 768px){
    .project-page-title{margin-top: 10% ;}
}
